<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eun.xposed.gpsnotification"
    android:versionCode="7"
    android:versionName="1.6" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="19" />

    <application
        android:icon="@drawable/jb_gps_on_left"
        android:label="GPSNotification" >
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposedminversion"
            android:value="2.0*" />
        <meta-data
            android:name="xposeddescription"
            android:value="Brings the JellyBean GPS Notification back." />

        <activity
            android:name="eun.xposed.gpsnotification.SettingsActivity"
            android:label="GPSNotification - Settings"
            android:exported="true" >
            <intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="de.robv.android.xposed.category.MODULE_SETTINGS" />
			</intent-filter>
        </activity>
    </application>

</manifest>
